* {
	font-family: sans-serif;
}

.navIcon {
	filter: invert(100%);
}

.calendar-popup {
	z-index: 9999;

}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
	z-index: 1;
}


.language-select2 {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari and Chrome */
	appearance: none;
}


.brighterText {
	text-shadow: 1px 2px 2px #fff;
}

.brighterTextP {
	text-shadow: 0px 1px 1px #fff;
}

.try {
	background-color: black;
}



.commentBtn {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}